$navbar: #CFCFCF;
$brand-colour: #263320;
$highlight-colour: #95D274;

/* Navigation bar css properties */
    nav {
        background-color: $navbar;
        a {
            color: $brand-colour;
            margin: 0;
            font-size: 0.75rem;
            a:hover {
                color: $highlight-colour;
            }
        }
    }

    .navigation SlDrawer::part(panel){
        background-color: $navbar;
    }

    #navigationPC {
        display: none;
    }

    

/* Footer properties */
    footer {
        background-color: $navbar ;



        p {
            color: $brand-colour;
            margin: 0;
            font-size: 0.75rem;
        }
    }

    .footerBtn {
        display: flex;
        flex-direction: column;
    }

/* Nav & Footer IPad settings*/

    @media  only screen and (min-width: 992px){
        #navigationSmartDev {
            display: none;
        }

        #navigationPC {
            display: flex;
            flex-direction: row;
        }
    }

    nav {
        a {
            font-size: 1.05rem;
        }
    }

/* Nav & Footer smartphone settings*/